

#title{
  background-color: #2d545e;
  color: white;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font: Montserrat;
  font-weight: 900;
  line-height: 50px;
  font-size: 2.5vw;
  color: white;
  margin-top: 50px;

}

.AssetClassList{
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3vw;
}

#AssetClasses{
  margin-top: 70px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8vw;
}

#Products{
  margin-top: 70px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8vw;
}

.container-fluid{
  padding: 3% 5%;
}
.navbar{
  background-color:#495F6C;
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand{
  font-size: 50px;
  margin-top: 10px;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.download {
  margin: 2.8% 2% 5% 0;
}

.phoneimage1{
  margin-top: 100px;
  margin-left: 80px;
  width: 30%;
  transform: rotate(-18deg);
}

.phoneimage2{
  margin-top: 100px;
  margin-left: 80px;
  width: 30%;
  transform: rotate(22deg);
}

h3{
  margin-top: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.7vw;
}
